In [1]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Importing the OS and JSON Modules
import os,json

In [2]:
#import superhero_info.csv:
filename = 'DATA/superhero_info - superhero_info.csv'
dfinfo = pd.read_csv(filename)
dfinfo.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

In [3]:
# replace missing values with NaN
dfinfo.replace({'\\N':np.nan}, inplace=True)

In [4]:
dfinfo.duplicated().sum()

0

In [5]:
# Check for missing values 
dfinfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hero|Publisher  463 non-null    object
 1   Gender          463 non-null    object
 2   Race            463 non-null    object
 3   Alignment       463 non-null    object
 4   Hair color      463 non-null    object
 5   Eye color       463 non-null    object
 6   Skin color      463 non-null    object
 7   Measurements    463 non-null    object
dtypes: object(8)
memory usage: 29.1+ KB

In [6]:
# split Hero/Publisher column
dfinfo['Hero|Publisher'].str.split('|',expand=True)

                   0                  1
0             A-Bomb      Marvel Comics
1         Abe Sapien  Dark Horse Comics
2           Abin Sur          DC Comics
3        Abomination      Marvel Comics
4      Absorbing Man      Marvel Comics
..               ...                ...
458     Yellowjacket      Marvel Comics
459  Yellowjacket II      Marvel Comics
460             Yoda       George Lucas
461          Zatanna          DC Comics
462             Zoom          DC Comics

[463 rows x 2 columns]

In [7]:
# add split column to dataframe 
dfinfo[['Hero', 'Publisher']] = dfinfo['Hero|Publisher'].str.split('|', expand=True)
dfinfo.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics

In [8]:
## drop the original column 
dfinfo = dfinfo.drop(columns=['Hero|Publisher'])
dfinfo.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics

In [9]:
dfinfo['Measurements'].dtype

dtype('O')

In [10]:
dfinfo['Measurements'].astype(str)

0      {'Height': '203.0 cm', 'Weight': '441.0 kg'}
1       {'Height': '191.0 cm', 'Weight': '65.0 kg'}
2       {'Height': '185.0 cm', 'Weight': '90.0 kg'}
3      {'Height': '203.0 cm', 'Weight': '441.0 kg'}
4      {'Height': '193.0 cm', 'Weight': '122.0 kg'}
                           ...
458     {'Height': '183.0 cm', 'Weight': '83.0 kg'}
459     {'Height': '165.0 cm', 'Weight': '52.0 kg'}
460      {'Height': '66.0 cm', 'Weight': '17.0 kg'}
461     {'Height': '170.0 cm', 'Weight': '57.0 kg'}
462     {'Height': '185.0 cm', 'Weight': '81.0 kg'}
Name: Measurements, Length: 463, dtype: object

In [11]:
dfinfo['Measurements'].dtype

dtype('O')

In [12]:
# json.loads
import json
measurement_fix = json.loads(measure)
print(type(measurement_fix))
measurement_fix

NameError: name 'measure' is not defined

In [13]:
## use .str.replace to replace all single quotes
dfinfo['Measurements'] = dfinfo['Measurements'].str.replace('"',"'")
# Apply the json.loads to the full column
dfinfo['Measurements'] = dfinfo['Measurements'].apply(json.loads)
dfinfo['Measurements'].head()

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

In [14]:
#convert string columns into actual string dictionary columns
# weight and height (numeric)
measure= dfinfo.loc[0,"Measurements"]
print(type(measure))
measure

<class 'str'>

"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"

In [15]:
measure_sep = dfinfo['Measurements'].apply(lambda x: x['Measurements'])
measure_sep

TypeError: string indices must be integers

In [16]:
superhero_powers = 'DATA/superhero_powers - superhero_powers.csv'
df_sp = pd.read_csv(superhero_powers)
df_sp.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [17]:
# replace missing values with NaN
df_sp.replace({'\\N':np.nan}, inplace=True)

In [18]:
df_sp.duplicated().sum()

0

In [19]:
# Check for missing values 
df_sp.isna().sum()

hero_names    0
Powers        0
dtype: int64

In [23]:
# create a col with a list of genres
df_sp['Powers'] = df_sp['Powers'].str.split(',')
df_sp.head(3)

AttributeError: Can only use .str accessor with string values!

In [24]:
# create a col with a list of powers
df_sp['Powers'] = df_sp['Powers'].str.split(',')
df_sp.head(3)

AttributeError: Can only use .str accessor with string values!

In [25]:
# separate the powers col- variables into there individual row 
exploded_powers = df_sp.explode('Powers')
exploded_powers.head(2)

  hero_names  Powers
0    3-D Man     NaN
1     A-Bomb     NaN

In [26]:
# Get the string column converted to a list of strings in each row
powers_split = df_sp['Powers'].str.split(',')

## Explore the series using.explore() and take the .unique() entires only.
powers_exploded = powers_split.explode().unique()
powers_exploded

AttributeError: Can only use .str accessor with string values!

In [ ]:
# What is the average height of heroes for each publisher?

In [ ]:
# Compare the average weight of super powers who have Super Speed to those who do not.